* {
    font-family: 'Cardiff', sans-serif;
}

/* index */
.buttons {
    /*  position: absolute;
    top: 40%; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* height: 100vh;

/*     display: grid;
    row-gap: 100px; */
  
    display: flex;         /* Use flexbox for layout */
    flex-wrap: wrap;  
}

.button {
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #58154a;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    margin-bottom: 10px; 

}
.button:nth-child(3) {
    margin-right: 0;       /* Remove margin from the third button */
    flex-basis: 100%;      /* Make the third button take full width */
}

.button:hover {
    background-color: #992680;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

a {
    margin: 10px;
}

#messages {
    padding-top: 10%;
    text-align: center;
}

/* VR */
#help-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    z-index: 1;
}